/* Reset some default styles */
*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

/* Style for the navigation bar */

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background: url(./Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%; 
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid wheat;
}

/* Box 2 */
.add-icon{
    display: flex;
    align-items: center;
}

.add-first{
    color: #cccccc; 
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    color: #ffffff; 
    font-size: 1rem;
    margin-left: 3px;
}

/* box 3 */
.nav-search{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
    width: 720px;
    height: 40px;
    border-radius: 3px;
    background-color: orange;
}

#box-3-1{
    background: #e6e6e6;
    width: 50px;
    text-align: center;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: none;
}

.nav-search input{
    width: 100%;
    border: none;
    font-size: 1rem;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    color: black;
}

.nav-search:hover{
    border: 2px solid orange;
}

/* box 4 */
.box-4{
    width: 125px;
    color: #D6D6D6;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-4 p{
    font-size: 0.8rem;
}

#box-4-2{
    background: #0f1111;
    color: white;
    border: none;
    font-size: 1rem;
    font-weight: 700;
}

/* box 5 */
.box-5{
    width: 80px;
}
.box-5 p{
    font-size: 0.8rem;
}

/* box 6 */
.nav-cart{
    width: 65px;
    font-size: 0.9rem;
    /* display: flex; */
}

.nav-cart i{
    font-size: 1.5rem;
}


/* middle part */

.hero-section{
    background: url(./Images/hero_image.jpg);
    background-size: cover;
    height: 380px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    font-size: 0.84rem;
    align-items: center;
    justify-content: center;
    width: 97%;
    margin-bottom: 35px;
}

.hero-msg a{
    color: #007185;
}


/* shop section */

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background: #e2e7e6;
}

.box{
     border: 2px solid transparent;
     height: 350px;
     width: 23%; 
     background: white;
     padding: 10px 0px 15px;
     margin-top: 10px;
}

.box-img{
    height: 250px;
    margin-top: 5px;
    margin-bottom: 45px;
    background-size: cover  ;
    background-repeat: no-repeat;
}

.box-content{
    margin-left: 10px;
    margin-right: 10px;
}

.img4{
    margin-bottom: 25px;
}


/* footer */

footer{
    margin-top: 15px;
}

.foot-panal1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.foot-panal2{
    background: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}


.foot-panal3{
    background: #222f3d;
    color: white;
    border-top: 0.5px solid wheat;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo{
    background: url(./Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panal4{
    background: #0f1111;
    color: white;
    height: 80px;
    padding-top: 25px;
}

.pages{
    font-size: 0.7rem;
    
    text-align: center;
}

.pages a{
    color: white;
}
.copyright{
    margin-top: 5px; 
    font-size: 0.7rem;
    text-align: center;
}